<!DOCTYPE html>
<html>
<head>
  <title>BreakingVote</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application' %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



</body>
</html>
